<div class="a2 page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">
            <div class="card-heading"></div>
            <div class="card-body">
                <h1 class="title">Change Password</h1>
                <form class="a1" action="/user/updatepswd" method="POST">
                    <div class="input-group">
                        <Label for="oldpassword">Old Password:</Label>
                        <input class="input--style-3" type="password" id="oldpassword" placeholder="" name="oldpassword"
                            required>
                    </div>
                    <div class="input-group">
                        <Label for="newpassword">New Password</Label>
                        <input class="input--style-3" type="password" id="newpassword" placeholder="" name="newpassword"
                            required>
                    </div>
                    <div class="input-group">
                        <Label for="confirmpassword">Confirm Password</Label>
                        <input class="input--style-3" type="password" id="confirmpassword" placeholder=""
                            name="confirmpassword" required>
                    </div>
                    <div class="p-t-10">

                        <button class="btn btn--pill btn--green" type="submit">Submit</button>

                    </div>
                    <div class="p-t-10 etc">
                        <a href="/">Go to Dashboard</a>
                    </div>

                </form>
                <div class="p-t-30 c-blue">
                    {{#if message}}
                    <p>{{this.message}}</p>
                    {{/if}}
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Jquery JS-->
<script src="vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="vendor/select2/select2.min.js"></script>
<script src="vendor/datepicker/moment.min.js"></script>
<script src="vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="js/global.js"></script>