<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Registration Info</h2>
                <form action="/signup" method="POST">
                    <div class="input-group">
                        <Label for="fname">First Name: </Label>
                        <input class="input--style-3" type="text" id="fname" placeholder="Firstname" name="fname"
                            required>
                    </div>
                    <div class="input-group">
                        <Label for="fname">Last Name: </Label>
                        <input class="input--style-3" type="text" id="lname" placeholder="Lastname" name="lname"
                            required>
                    </div>
                    <div class="input-group">
                        <Label for="email">Email: </Label>
                        <input class="input--style-3" type="email" id="email" placeholder="Email" name="email" required>
                    </div>
                    <div class="input-group">
                        <Label for="password">Create Password: </Label>
                        <input class="input--style-3" type="password" id="password" placeholder="Password"
                            name="password" required>
                    </div>
                    <div class="p-t-10">
                        <button class="btn btn--pill btn--green" type="submit">Sign-up</button>

                    </div>
                </form>
                <form action="/" method="GET">
                    <button class="btn btn-custom btn--pill btn--green" type="submit">Login</button>
                </form>
                <div class="p-t-30 c-blue">
                    {{#if message}}
                    <p>{{this.message}}</p>
                    {{/if}}
                </div>


            </div>
        </div>
    </div>
</div>

<!-- Jquery JS-->
<script src="vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="vendor/select2/select2.min.js"></script>
<script src="vendor/datepicker/moment.min.js"></script>
<script src="vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="js/global.js"></script>